# Tmux plugins (managed by TPM)
tmux/.config/tmux/plugins/

#Nvim plugins
# not ignoring lazy-lock for consistency across machines
# nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/lazy/
nvim/.config/nvim/.lazy/ 

